h1{
	font-size: 4em;
}	

.slider-text{
	margin-top: 20vh;		
}

.slider-button{
	background-color: #E74C3C;
	width: 100px;
	height: 40px;
	border-radius: 0px;
}

.content {
	padding-left: 15vh;
	padding-right: 15vh;
}

.paddingHeadTail{
	padding-top: 100px;
	padding-bottom: 100px;
}

.c1{
	background-color:#E1E1E1; 
	height:100vh;
	padding-top:50vh;
}

.underline{
	width: 200px;
	height: 5px;
	background-color: rgb(255,100,100);
}

.tag-line{
	color: #fff;
	font-size: 2em;
	font-family: 	arial;
	font-weight: lighter;
	padding-top: 3vh;
}